
  var orderPhone = function (cellValue) {
	var tel = "" + cellValue;
	// replace()方法在字符串中用一些字符替换另一些字符，或替换一个与正则表达式匹配的子串。
	return tel.replace(tel.substring(3,7), "****")
   }

   var orderMinutes = function (time) {
    if (time) {
        if (time > 60 && time < 60 * 60) {
            var min = parseInt(time / 60.0)
            var second=parseInt((parseFloat(time / 60.0) - parseInt(time / 60.0)) * 60)
            min=min < 9?'0' + min : min
            second=second< 9?'0' + second : second
            
            time = '00:'+ min + ':' + second
        } else if (time >= 60 * 60 && time < 60 * 60 * 24) {
            var hour =parseInt(time / 3600.0)
            var min =parseInt((parseFloat(time / 3600.0) -
            parseInt(time / 3600.0)) * 60)
            var second = parseInt((parseFloat((parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60) -
              parseInt((parseFloat(time / 3600.0) - parseInt(time / 3600.0)) * 60)) * 60)
              hour=hour< 9?'0' + hour : hour
              min=min< 9?'0' + min : min
              second=second< 9?'0' + second : second
            
              time = hour+':'+ min + ':' + second
        } else {
           var second=parseInt(time)
            second=second< 9?'0' + second : second
            time = '00：'+'00：'+second
        }
      } else {
        time = ''
      }
      return time
   }

   var getTime = function (timestamp) {
    var date = getDate(parseInt(timestamp*1000));
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()
    
      return year + '.' + month + '.' + day;      
}
   var activeStatus = function(status){
      if(status==0){
        return '报名中'
      }else if (status==1){
        return '进行中'
      }else if (status==2){
        return '未开始'
      }else {
        return '已结束'
      }
   }
   var readyType = function(type){
    if(type==0){
      return '个人'
    }else if (type==1){
      return '企业'
    }else if (type==2){
      return '协会'
    }else {
      return '院校'
    }
   }

  module.exports = {
    orderPhone:orderPhone,
    orderMinutes:orderMinutes,
    getTime:getTime,
    activeStatus:activeStatus
  };